<!DOCTYPE html>
<html>
<head>
<title>Update Form</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Insurance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/user/users/1">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/account/account/1">Account</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/agent/agent/1">Agent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/lob/lob/1">LOB</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/policy/policy/1">Policy</a>
          </li>
      </ul>
    </div>
  </nav>
    <div class="container justify-content-center" style="margin-top:100px;">
        
    <div class="card" style=" margin: 0 auto;
    float: none; 
    margin-bottom: 10px;">
        <div class="card-header"><h5>Users</h5></div>
        <div class="card-body">
            <form action="/api/policy/policy/update/<%= datas.policy_number %>" method="post" name="form1">

                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputpolicy_mode">Policy Mode</label>
                            <input type="text" class="form-control" name="policy_mode" id="policy_mode" value="<%= datas.policy_mode %>" placeholder="Policy Mode">
                            </div>
                            <div class="form-group">
                            <label for="exampleInputpremium_amount">Premium amount</label>
                            <input type="text" class="form-control" name="premium_amount" id="premium_amount" placeholder="premium amount" value="<%= datas.premium_amount %>">
                            </div>
                           
                      </div>
                      <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleInputcity">Policy Type</label>
                            <input type="text" class="form-control" name="policy_type" id="policy_type" value="<%= datas.policy_type %>" placeholder="Policy type">
                            </div>
                            <div class="form-group">
                            <label for="exampleInputaddress">agency_id</label>
                            <input type="text" class="form-control" name="agency_id" id="agency_id" value="<%= datas.agency_id %>" placeholder="agency_id">
                            </div>
                            
                      </div>
                    </div>
                  </div>
                
                
                
                <button type="submit" class="btn btn-info" style="float: right;">Update</button>
                </form>
        </div>
  </div>
</div>

</body>
</html>